.figure{
	margin: 0;
}
.figure_img{
    width: 100%;
}
.figure_prev{
	position: absolute;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.4);
    color: white;
    padding: 5px;
	z-index: 4;
	left: 0;
}
.figure_next{
	position: absolute;
	cursor: pointer;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    padding: 5px;
	z-index: 4;
	right: 0;
}
.hide{
	display: none;
}